<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui header">
      <div class="content">Sign into your account
      </div>
    </h2>
      <%= form_tag signin_path, method: :post, class: "ui large form" do %>
        <div class="field">
          <input id="username" type="text" name="name" placeholder="Username" />
        </div>
        <div id="camera"></div>
        <div class="field">
          <input type="button" id="verify" value="Sign In" class="ui large button" />
        </div>
      <% end %>
  </div>
</div>
