<div class="ui main text container">

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui header">
        <div class="content">Sign up now
        </div>
      </h2>

      <div id="camera"></div>

      <%= form_for @user, html: {class: "ui large form"} do |el| %>
      <div class="field">
        <%= el.text_field :name, placeholder: "Username" %>
      </div>
      <div class="field">
        <%= el.text_field :email, placeholder: "Email address" %>
      </div>

        <%= el.button "Sign Up", class: "ui large button", id: "enroll", type: "button" %>

      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    signup()
  </script>

</div>
