<h1>Hello World</h1>

<!-- <div id="camera"></div>

<button class="ui button" id="capture">Capture</button> -->

<<<<<<< HEAD
<script type="text/javascript">
  // init();
</script>
=======

<!-- <script type="text/javascript">
  init();
</script> -->
>>>>>>> 4d5b5cbfa781160b553a99468c15c0e2d901fc89
