/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require main
 */


#camera {
  width: 400px;
  height: 400px;
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

.ui.large.form {
  width: 100%;
}

.field {
  width: 50%;
  margin-left: 25% !important;
}

.ui.button {
  display: block;
  margin: 10px auto !important;
}

#image_upload {
  display: none;
}

.ui.inverted.segment.green {
  margin-bottom: 0px;
  border-radius: 0px;
}

.ui.middle.aligned.center.aligned.grid {
  margin: 10% auto;
}

@media screen and (max-width: 960px){
  .body {
    width: 100% !important;
    margin: 0 auto !important;
  }

  #camera {
    width: 250px;
    height: 250px;
    margin: 0 auto !important;
    margin-bottom: 10px !important;

  }
}

.column.left {
  margin: 10% auto;
  display: block !important;
  float: left !important;
}

.playlist {
  margin: 10% auto;
  display: block !important;
  float: right !important;
}

#emotion, #mood-result {
  text-align: center;
  font-size: 16pt;
}
