<body>
	<main class="main-container">
		<section>
			<div class="form">
				<form action="">
					<input type="search" value="">
					<input type="submit" value="Create">
				</form>

			</div>
			<div class="playlist">
				<div class="loader">
					<div class="inner-circle"></div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>
